h1{
	color: red;
	font-size: 20px;
	text-align: center;
	font-family: italic;
	margin-top: 30px;

}



body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("header.jpg");
  background-size: cover;
}

.btn{
	color: blue;
	background-color: orange;
	margin-top: 560px;
	margin-left: 720px;
}
.btn:hover{
	background-color: pink;

}